html, body {
    background: #663399;
    width: 100%;
    height: 100%;
    position: relative;
    opacity:0.99;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    color: #DCC6E0;
    text-align: center;
    margin:0;
}

a{

    color: #DCC6E0;
}

h1 {
    font-family: 'Shrikhand', cursive;
    color: #DCC6E0;
    font-size: 3.5em;
    letter-spacing: 5px;
    font-weight: 100;
}

p{
    font-size:1.5em;
    font-family: 'Hind', sans-serif;
}

label{
    font-size: 2em;
    display: block;
}

.content{
    position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form#myForm {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 50%;
    background: transparent;
    text-align: center;
    /*margin-top:100px;*/
    font-family: 'Hind', sans-serif;
}

input {
    display: block;
    width: 100%;
    margin-bottom:30px;
}

input#name{
    background:transparent;
    border:none;
    border-bottom:2px solid #CCAD30;
    color:white;
    font-size:3em;
    text-align:center;
}

input#name:focus{
    outline:none;
}

input[type="submit"] {
    height: 50px !important;
    font-size: 1.5em;
    padding:10px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid;
    width: auto;
    margin: 0 auto;
    color: #DCC6E0;
}

input[type="submit"]:focus{
    outline:none;
}

p.howdy {
    margin: 0;
    margin-top: 60px;
    font-size: 2em;
    margin-bottom:-30px;
    letter-spacing:2px;
}

.hey{
    display:none;
}
.newName {
    font-size: 4em;
    margin: 40px 60px;
    color: white;
    text-transform:capitalize;
    border: 2px solid;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: right;
    width: 100%;
    right: 10px;
}

@media only screen and (max-device-width: 730px) {

html, body{
    font-size:22px;
}

    .content{
        width:100%;
    }
}